.header {
    background: #d9d9d9;
    height: 70px;
}
.header-main {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
    width: 100%;
}
.header-main__flag {
    display: flex;
    height: 100%;
    margin-right: 50px;
}
.flag {
    height: 25px;
    align-self: center;
}
.languages {
    align-items: center;
    display: flex;
    padding-left: 8px;
}
/*----------------------*/
.header-main__account {
    display: flex;
}
.header-main__admin {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    align-self: center;
    align-items: flex-end;
}
.header-main__avatar {
    height: 50px;
    align-self: center;
}
.avatar {
    border-radius: 50%;
    height: 100%;
}
.admin {
    font-weight: 500;
    opacity: 0.6;
    font-size: 0.8rem;
}